.intro {
    margin-top: 4rem;
}
/*nochmal überarbeiten*/
@media screen and (min-width: 658px) {
    .intro {
        width: 70%;

    }
}


.buchübersicht {
    margin-top: 7rem;

    .categories {
        display: flex;
        gap: 0.3rem;
    }

    
    button {
        background-color: var(--bg--dark);
        padding: 0.3rem 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid var(--font-dark);
        border-radius: 20px;
    }

    .divider {
        border: 1px solid var(--font-dark);
        margin-block: 1rem 2rem;
    }
    .card {
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        border: 1px solid var(--font-dark);
        margin-bottom: 1.5rem;
    }

    .book-cover > img {
        width: 125px;
       
    }

    .book-info {

        h4 {
            font-weight: 700;
        }
      
      
        .small {
            margin-top: 0.5rem;
            font-size: 0.75rem;
        }

        .rating {
           
        }
        .star {
            color: var(--font-dark);
            font-size: 1.4rem;
        }
    }
     
}

@media screen and (min-width: 640px) {
    .buchübersicht {

        .categories {
            justify-content: flex-end;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            
         }

         .card {
            display: block;
            justify-items: center;
         }
         .book-info {
            width: 100%;
         }
    }
}

@media screen and (min-width: 768px) {
    .buchübersicht {
        .card {
            display: flex;
            align-items: center;
            
            padding: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .buchübersicht {

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
            
         }

         .card {
            display: block;
            justify-items: center;
         }
    }
}
