.intro {
    margin-top: 4rem;
}

/*nochmal überarbeiten*/
@media screen and (min-width: 658px) {
    .intro {
        width: 70%;

    }
}


.buchübersicht {
    margin-top: 7rem;
    height: 100%;

    .categories {
        display: flex;
        width: 100%;
        gap: 0.3rem;
        flex-wrap: wrap;
    }


    button {
        background-color: var(--bg);
        padding: 0.3rem 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid var(--font);
        border-radius: 20px;
    }

    button:hover {
        background-color: var(--light-accent-color);
        border: 1px solid var(--light-accent-color);
        color: var(--bg);
        transition: 0.2s ease-in-out;

    }

    .divider {
        border: 1px solid var(--font);
        margin-block: 1rem 2rem;
    }


    .book-overlay {
        display: none;
        background-color: var(--card);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 2rem 1.5rem;
        z-index: 1;
        -webkit-box-shadow: 5px 5px 11px 5px var(--shadow);
        box-shadow: 5px 5px 11px 5px var(--shadow);

        .close {
            position: absolute;
            height: 35px;
            right: 2rem;
            top: 2rem;
            z-index: 2;
            background-color: transparent;
            border-radius: 5px;
            border: none;
            width: fit-content;
        }

        .overlay-info {
            margin-block: 1rem;
        }
    }

    .card {
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        border: 1px solid var(--font);
        margin-bottom: 1.5rem;
    }

    .card:hover {
        -webkit-box-shadow: 5px 5px 11px 5px var(--shadow);
        box-shadow: 5px 5px 11px 5px var(--shadow);
        transition: 0.2s ease-in-out;

    }

    .book-cover>img {
        width: 125px;

    }

    .book-info {

        h3 {
            font-weight: 600;
            font-size: 1.125rem;
        }


        .book-author {
            margin-block: 0.5rem;
            font-size: 0.75rem;
        }

        .rating {}

        .star {
            color: var(--font);
            font-size: 1.4rem;
        }
    }

    .hidden-klappentext {
        display: none;
    }

}

@media screen and (min-width: 640px) {
    .buchübersicht {

        .categories {
            justify-content: flex-end;
        }

        .book-overlay {
            max-width: 800px;
            padding: 3rem 5rem;
            gap: 1rem;

            grid-template-columns: 1fr 3fr;

            .close {
                top: 2rem;
                right: 2rem;
            }

            .book-cover {
                justify-self: center;
            }

            .overlay-info {
                align-items: center;
            }

            p {
                grid-column: 1/3;
            }
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

        }

        .card {
            display: block;
            justify-items: center;
        }

        .book-info {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    .buchübersicht {
        .card {
            display: flex;
            align-items: center;

            padding: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .buchübersicht {

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;

        }

        .card {
            display: block;
            justify-items: center;
        }
    }
}