:root {
    --bg--dark: #222222;
    --card--dark: #2C2C2C;
    --font-dark: #C2C2C2;

    --bg--light: #EEEEEE;
    --card--light: #DBDBDB;
    --font-light: #454545;
}


/* global styles */
html {
    font-size: 100%;
    box-sizing: border-box;
 
}

body {
    margin: 0;
    background-color: var(--bg--dark);
    background-image: url(/images/dark-bg.png);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,i {
    font-family: "Playfair Display", serif;
    margin: 0;
    font-weight: 400;
    color: var(--font-dark);

}
h2,h3,h4,h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--font-dark);
    margin: 0;
}


p, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-dark);
    text-decoration: none;
    margin: 0;
}


h1 {
    font-size: clamp(7.25rem, 5.2254rem + 8.6385vw, 13rem);}
h2 {
    font-size: clamp(1.5rem, 1.596rem + 0.6573vw, 2.1875rem);
}

h3 {
    font-size: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem);}


section {
    margin-inline: 1rem;
   
    
}

@media screen and (min-width: 1024px) {
    section {
        width: 90%;
        max-width: 64rem;
        margin: auto;
    }    
}




/*Hero Section*/

.nav-links {
    display: none;
    
}

.nav-links > li {
    list-style-type: none;

    /*mobile Style*/
    

}



.card {
    background-color: var(--bg--dark);
}



/* Navigation Styles*/

nav {
    display: flex;
   
    

}

.logo > img {
    width: 2.5rem;
}


.toggle-button {
    display: none;
}

.switch {
    display: none;
}


/*Hamburger Menu*/
.hamburger {
    width: 35px;
    height: 30px;
    position: relative;
    margin-inline:  auto 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--font-dark);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  
}

.hamburgerspan:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/*Desktop Nav*/
@media screen and (min-width: 768px) {
    /*general style*/
    .desktop-hidden {
        display: none;
    }
    nav {
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        gap: 2rem;
    }

    /*toggle styles*/
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       
        transition: .5s;
        border-radius: 30px;
        border: 1px solid var(--font-dark)
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 50%;
        left: 10%;
        bottom: 15%;
        box-shadow: inset 8px -4px 0px 0px var(--font-dark);
        background: var(--card--dark);
        transition: .5s;
      }
      
     
      
      input:checked + .slider:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px var(--font-dark);
      }
  
}

/*Header Section*/
header {
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/images/hero-darkm.jpg") center center;
    
    background-size:cover; 
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    
} 

.text-wrapper {
    margin-inline: 1rem;
}

.text-wrapper > h2 {
    margin-bottom: 1rem;
}

header > button {
    display: flex;
    justify-content: center;
    background: none;
    border: 1px solid var(--font-dark);
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
}

header > button > img {
    padding-top: 0.7rem;
    width: 1rem;
    height: 1.5rem;
   
}

@media screen and (min-width: 640px) {
    .text-wrapper {
        display: flex;
        margin-bottom: 3rem;
    }

    .detail-text {
        padding: 4rem 0rem 0rem 1rem;
    }
    .detail-text > h2{
        margin-bottom: 0.75rem;
    }
}

@media screen and (min-width: 768px) {
    header {
       padding: 2rem;
    }

    .text-wrapper {
        margin: auto;
        width: 90%;
        max-width: 950px;
        margin-bottom: 2rem;
    }
    header > button {
        margin-bottom: 1rem;
    }
   

}


/*Section: Vorstellung*/
.vorstellung {
    margin-block: 4rem 7rem ;
  
    & .img-container {
        margin-bottom: 2rem;
    }
    & img {
        position: relative;
        width: 100%;
        border-radius: 20px;
        
    }

    & .text > h2 {
        margin-bottom: 1rem;
    }


}

@media screen and (min-width: 640px) {
    .vorstellung  {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & .img-container {
            margin-bottom: 0;
        }

        & .text {
            margin: 2rem;
            align-self: center;
        }
    }

    
}

@media screen and (min-width: 768px) {
    .vorstellung  {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }    
}


/*kennen-lernen Section*/
.kennen-lernen {
    

    h2 {
        margin-bottom: 1rem;
    }

    & .professionell, .personal {
        display: flex;
        align-items: center;
        border-block: 1px solid var(--font-dark);
        padding: 1rem;
        
    }
    .img-container {
        width: 50%;
        margin-right: 2rem;

    }

    img {
        width: 100%;
        /*width: 10.625rem;*/
        height: 100px;
        object-fit: cover;
        border-radius: 20px;
    }

    a {
        width: 50%
    }
    
}

@media screen and (min-width: 640px) {
    .kennen-lernen {
        

        & .personal {
            flex-direction: row-reverse;
        }

        h3 {
            text-align: center;
        }
    }

    
}


/*Zitat Section*/ 
.quote {
    margin-block: 7rem;
}

@media screen and (min-width: 640px) {
    .quote {
        

        h2 {
            margin-inline: auto;
            text-align: center;
            width: 80%;
        }
    }
}


/*Kontakt Section*/
.contact {
    background-color: var(--card--dark);
    border-radius: 20px;
    padding: 1.5rem 1rem;

    ul {
        padding: 0;
    }

    li {
       list-style-type: none; 
       display: flex;
       margin-bottom: 1rem;
    }

    .icon {
        width: 1.5rem;
        height: auto;
        margin-right: 1rem;
    
    }
    .img {
        width: 100%;
        height: 300px;
        margin-top: 1rem;
        object-fit: cover;
        border-radius: 0.5rem
    }
}

@media screen and (min-width: 640px) {
    .contact {
        padding: 3rem 2rem;
    }
   
    ul {
        margin-block: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding-left: 3rem;

        .contact-text {
            align-self: center;
        }
         .img {
            margin-top: 0;
        }
    }

    
}