<ul>
  <div class="page-div">
    <li class="page"><a href="./index.html">Startseite</a></li>
    <li class="page"><a href="./über-mich.html">Über mich</a></li>
    <li class="page"><a href="./werdegang.html">Werdegang</a></li>
    <li class="page"><a href="./buchfavoriten.html">Buchfavoriten</a></li>
    <li class="page"><a href="./error.html">Seite nicht gefunden</a></li>
  </div>

  <div class="contact-div">
    <li class="contact-li">
      <img
        class="icon"
        src="./images/icon-email-darkm.png"
        alt="Meine E-mailadresse"
      />
      <p>zimmer.jasmin04@gmail.com</p>
    </li>
    <li class="contact-li">
      <img
        class="icon"
        src="./images/icon-phone-darkm.png"
        alt="Meine Telefonnummer"
      />
      <p>+49 174 9889437</p>
    </li>
    <li class="contact-li">
      <img
        class="icon"
        src="./images/icon-github-darkm.png"
        alt="Mein Github-Konto"
      />
      <a href="https://github.com/zrjasmin">zrjasmin</a>
    </li>
  </div>
</ul>
