<nav class="nav">
  <div class="logo">
    <img
      src="./images/logo-darkm.png"
      alt="Logo. Zeigt den Schriftzug 'smin.' in simpler Schrift zeigt"
    />
  </div>

  <div class="desktop-hidden hamburger hamburger-menu">
    <button class="hamburger hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <ul class="nav-links">
    <li><a href="./index.html">Startseite</a></li>
    <li><a href="./ueber-mich.html">Über mich</a></li>
    <li><a href="./werdegang.html">Werdegang</a></li>
    <li><a href="./buchfavoriten.html">Buchfavoriten</a></li>
  </ul>

  <label class="switch" for="theme-switcher">
    <input class="toggle-checkbox" type="checkbox" id="theme-switcher" />

    <span class="slider"></span>
  </label>
</nav>

<h1 class="serif header-heading"></h1>
<button
  aria-label="Hier geht es zu weiteren Inhalten auf der Seite"
  class="scrollButton"
>
  <img src="./images/arrow-down-darkm.png" alt="" />
</button>
