<nav class="nav">
  <div class="logo">
    <img alt="Logo" src="./images/icon-logo(old).png" />
  </div>

  <div class="desktop-hidden hamburger hamburger-menu" id="hamburger-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links">
    <li><a href="./index.html">Startseite</a></li>
    <li><a href="./ueber-mich.html">Über mich</a></li>
    <li><a href="./werdegang.html">Werdegang</a></li>
    <li><a href="./buchfavoriten.html">Buchfavoriten</a></li>
  </ul>

  <label class="switch">
    <input class="toggle-checkbox" type="checkbox" onclick="toggleSwitch()" />
    <span class="slider"></span>
  </label>
</nav>

<h1 class="serif header-heading"></h1>
<button aria-label="Hier geht es zu weiteren Inhalten auf der Seite">
  <img src="./images/arrow-down-lightm.png" />
</button>
