<nav>
  <div class="logo">
    <img />
  </div>
  <ul class="nav-links">
    <li><a href="./index.html">Startseite</a></li>
    <li><a href="./ueber-mich.html">Über mich</a></li>
    <li><a href="./werdegang.html">Werdegang</a></li>
    <li><a href="./buchfavoriten.html">Buchfavoriten</a></li>
  </ul>
  <!--Toggle Button (Light & Dark Theme)-->
  <label class="switch mobile-hidden">
    <input type="checkbox" />
    <span class="slider"></span>
  </label>
</nav>

<h1 class="serif header-heading"></h1>
<button aria-label="Hier geht es zu weiteren Inhalten auf der Seite">
  <img src="/images/arrow-down-lightm.png" />
</button>
