<nav class="nav">
  <div class="nav_logo">
    <img
      src="./images/logo-darkm.png"
      alt="Logo. Zeigt den Schriftzug 'smin.' in simpler Schrift zeigt"
    />
  </div>

  <div class="desktop-hidden hamburger hamburger-menu">
    <button class="hamburger hamburger-menu" id="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <ul class="nav_links">
    <li><a href="./index.html" class="nav_link">Startseite</a></li>
    <li><a href="./ueber-mich.html" class="nav_link">Über mich</a></li>
    <li><a href="./werdegang.html" class="nav_link">Werdegang</a></li>
    <li><a href="./buchfavoriten.html" class="nav_link">Buchfavoriten</a></li>
  </ul>

  <label class="switch" for="theme-switcher" aria-label="Theme wechseln">
    <input 
      id="theme-switcher"
      class="toggle-checkbox" 
      type="checkbox" 
    />
    <span class="slider"></span>
  </label>
</nav>

<h1 class="header_heading"></h1>
<button
  aria-label="Hier geht es zu weiteren Inhalten auf der Seite"
  class="scrollButton"
>
  <img src="./images/arrow-down-darkm.png" alt="" />
</button>
